<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Composite Preview</title>
  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
  <div class="content">
    <div class="multi-grid grid-{{ items|length }}">
      {% for item in items %}
        <img src="{{ item.thumb }}" />
      {% endfor %}
    </div>
  </div>
  
  {% if title or handle %}
  <div class="footer">
    <span class="title">{{ title }}</span>
    <div style="text-align: right;">
      {% if handle %}
      <div class="handle">@{{ handle }}</div>
      {% endif %}
      <div class="grain">grain.social</div>
    </div>
  </div>
  {% endif %}
</body>
</html>